body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  justify-content: flex-start;
  padding-top: 90px;
}

.EmptyResults {
  color: #BAB8B9;
  font-size: 28px;
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}


#analyse-system section.analyse {
    width: 20%;
    display: flex;
    flex-direction: column;
}

#analyse-system section.results {
  display: flex;
  align-items: center;
  width: 100%;
  border-left: 1px solid #BAB8B9;
  margin-left: 50px;
}

#menu-param .MuiPaper-root,
#menu-dateMin .MuiPaper-root,
#menu-dateMax .MuiPaper-root {
  left: 19% !important;
}

#analyse-system .MuiFormControl-root {
  margin: 20px;
}

#analyse-system .MuiButton-containedPrimary {
  margin-top: 25px;
}

#analyse-system .MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
  width: 1200px;
  margin-left: 70px;
}

#analyse-system .MuiTableCell-root {
  min-width: 200px;
}

@media only screen and (min-width : 320px) and (max-width : 768px) {
  .MuiTypography-colorInherit {
    text-align: center;
  }

  .container {
    padding-top: 20px;
    flex-direction: column;
  }

  #analyse-system section.analyse {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #analyse-system .MuiButton-containedPrimary {
    margin-left: 15px;
  }

  #analyse-system section.results {
    width: 100%;
    border-left: 0px;
    margin: 20px 0;
  }

  #menu-param .MuiPaper-root,
  #menu-dateMin .MuiPaper-root,
  #menu-dateMax .MuiPaper-root {
    left: 20px !important;
  }

  #analyse-system .MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
    width: 100%;
    margin-left: 0;
  }

  #analyse-system .MuiTableCell-root {
    min-width: 0;
  }

  .MuiTablePagination-toolbar {
    height: 100% !important;
    min-height: 100% !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
  }

  .MuiTypography-caption {
    margin-top: 10px;
  }

  .MuiPaper-elevation1 {
    box-shadow: none !important;
  }

  .MuiTypography-caption {
    margin-top: 20px !important;
  }

  .MuiTableFooter-root .MuiTableCell-root:last-child {
    border-bottom : 0px solid #0000 !important;
  }
}